body {
  margin: 0;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bold_primary {
  font-weight: 800;
  font-size: 2.5rem;
  /* font-weight: "bold"; */
  color: #537173;
}

.about_small_img{
  width: 100%;
  height: 30%;
  padding: 1em ;
  object-fit: cover;
}

.options a{
  /* color: #537173; */
  text-decoration: none;
}

.about_big_img{
  width: 100%;
  height: 60%;
  padding: 1em;
  object-fit: cover;
}

.bottom{
  min-height: 70vh;
}

.grid_products{
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  /* background-color: red; */
  padding-bottom: 10rem;
}


.cont_s{
  padding: 1rem 2rem;
  background-color: #537173;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2rem;
}

.get_st{
  padding: 1rem 2rem;
  background-color: #fff;
  color: #537173;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2rem;
  margin-right: 2rem;
}


